body {
  background-color: rgb(170, 238, 196) ;
  font-size: 30px;
  font-weight: bold;
  color: papayawhip;
  text-align: center;
}

#divleft {
  background-color: papayawhip;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  top: 30px;
}

#divzoom {
  background-color: papayawhip;
  width: 600px;
  margin: 0 auto;
  font-size: 15px;
  color: rgb(71, 80, 184);
  font-weight: bold;
  text-align: center;
}

#dog-run{
  position: absolute;
  top: 150px;
  right : 100px;
}

#name_change{
  position: absolute;
  top: 20px;
  right : 100px;
  font-size: 15px;
}
